.environment,
.table th{
    text-align: left;
    background-color: #3a6070;
    color: #fff;
    padding: 4px 30px 4px 8px
}

.table td{
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
}

.table header{
    font-size: 128px;
    color: white;
}

.oma1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

